/* General styles */
.speech {
    font-family: "Times", serif;
    font-size: 16px;
    color: rgb(105, 105, 105);
}

.stage-direction {
    font-family: "Courier New", monospace;
    font-size: 14px;
    color: black;
    background-color: #d2d2d2;
    padding: 5px;
    font-style: italic;
}

.stage-direction:hover {
    background-color: #929292;
    color: black;
}

.name {
    font-weight: bold;
    font-size: 18px;
    color: black;
}

/* Character-specific styles */
.duke {
    color: rgb(0, 0, 194);
}

.escalus {
    color: rgb(0, 154, 0);
}

.angelo {
    color: darkred;
}